.frontpagelist {
    font-size: 48px;
    color: tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li {
    color:tomato;
    font-size: 12px;
}

.image {
    height: 300px;
    width: auto;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: tomato;
}

h1 {
    text-align: center;
}

h2 {
    text-align: justify; 
}

h1,
h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: wheat;
    color: peru;